[Unit]
Description=Modify XSession for community user
Before=gdm.service display-manager.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sed -i "s/XSession=gnome/XSession=livecdWayland/" /var/lib/AccountsService/users/community'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
